* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial;
    padding: 15px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start; 
}

header {
    background: #2a9d8f;
    color: #fff;
    border:30px #f4a261;
    border-style: solid;
    padding: 25px;
    text-align: center;
  }

#highScoreHeader {
  background: #2a9d8f;
  color: #fff;
  border:30px #f4a261;
  border-style: solid;
  padding: 25px;
  text-align: center;
}

  .question-box {
    display: flex;
    justify-content: space-between;
    height: 150px;
    padding: 10px;
    background: #fff;
    color: #e76f51;
    text-align: left;
  }
  .timer-box {
    background: #fff;
    color: #e76f51;
    border: 15px #000;
    border-style: double;
    text-align: center;
  }

  #answerWrapper {
      margin: 0 auto;
  }
  li {
      border: 1px solid transparent;
  }
  li:hover {
      border: 1px dotted black;
  }

  .submitHighScore {
    display: none;
  }

  #scores {
    text-align: center;
  }
