* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* ---BODY--- */
body {
  font-family: Arial;
  padding: 15px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start; 
}

header {
  background: #2a9d8f;
  color: #fff;
  border:30px #f4a261;
  border-style: solid;
  padding: 25px;
  text-align: center;
  margin: 20px;
}

#highScoreHeader {
background: #2a9d8f;
color: #fff;
border:30px #f4a261;
border-style: solid;
padding: 25px;
text-align: center;
margin: 20px;
}

.question-box {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 10px;
  background: #fff;
  color: #e76f51;
  text-align: left;
}

.timer-box {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  padding: 15px;
  background: #fff;
  color: #e76f51;
  border: 15px #000;
  border-style: double;
  text-align: center;
}

  /* ---ANSWER WRAPPER ITEMS */
#answerWrapper {
      margin: 0 auto;
}
  
li {
      border: 1px solid transparent;
}
  
li:hover {
      border: 1px dotted black;
}

.submitHighScore {
    display: none;
}

.submitHighScore::after {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

#scoreForm{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
}

#scores {
  text-align: center;
  line-height: 200%;
  padding: 20px;
  margin:15px;
}

.playAgain {
  width: 100%;
  text-align: center;
}
